<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- SEO -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>Cardinal & Co. Agency | Shopify Developers</title>
    <meta property="og:title" content="Cardinal & Co. Agency | Shopify Developers" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="We are a Shopify development agency focused on bringing designs, brands, and products to life." />
    <meta property="og:description" content="We are a Shopify development agency focused on bringing designs, brands, and products to life." />
    <link rel="canonical" href="/" />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Cardinal & Co. Agency | Shopify Developers" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Cardinal & Co. Agency | Shopify Developers" />
    <script type="application/ld+json">
    {"headline":"Cardinal & Co. Agency | Shopify Developers","@type":"WebSite","description":"We are a Shopify development agency focused on bringing designs, brands, and products to life.","url":"/","name":"Your awesome title","@context":"https://schema.org"}</script>
  <!-- end SEO -->

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/kgj1ror.css">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="/js/outline.js" type="text/javascript" defer></script>
  <script src="/js/slick.min.js" type="text/javascript" defer></script>
  <script src="/js/index.js" type="text/javascript" defer></script>
  <script src="/js/lazysizes.min.js" type="text/javascript"></script>

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
</head>